@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "My Leave Requests";
}

<h1>My Leave Requests</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Type</th>
            <th>Date Requested</th>
            <th>Approval Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.LeaveType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.DateRequested)</td>
                <td>
                    @if (item.Cancelled)
                    {
                        <span class="badge badge-secondary">Cancelled</span>
                    }
                    else if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending Approval</span>
                    }
                </td>
                <td>
                    @if (!item.Cancelled)
                    {
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa fa-file"></i> Review
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>My Leave Allocations</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>Leave Type</th>
            <th>Allocated Days</th>
            <th>Remaining Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveAllocations)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LeaveType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.NumberOfDays)</td>
                <td>@Html.DisplayFor(modelItem => item.Period)</td>
            </tr>
        }
    </tbody>
</table>